/* AVTPL */
/*
 * Customisations to Bootstrap
 */
.content {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.form-control {
	font-size: 14px;
}
 
.navbar-static-top {
	z-index: 99;
}

.navbar-brand {
	padding-top: 3px;
	padding-bottom: 3px;
}

/*
 * Modifications to Admin-LTE
 */
.form-control {
	border-radius: 4px !important;
}

.modal-content {
	border-radius: 4px !important;
}

.input-group .input-group-addon {
	border-radius: 4px !important;
}

.table {
    margin-bottom: 0px;
}

.pagination {
    margin: 10px 0px 20px;
}

h3, .h3 {
    font-size: 20px;
}

.cbx-container {
    margin-top: 5px;
    background-color: white;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li > a {
    color: #444444 !important;
}

.dropdown-menu > .divider {
    background-color: #eee !important;
}

.navbar-nav > .karbooking-menu > .dropdown-menu > li > a {
    color: #777 !important;
}

/* div to enclose links to look like buttons in grid action columns */
.a-button a:link, .a-button a:visited, .a-button a:hover, .a-button a:active {
    color: #333;
    text-decoration: none;
    background-color: rgb(221, 221, 221);
}

/* div to enclose links to look like buttons in grid action columns */
.a-button-v a:link, .a-button-v a:visited, .a-button-v a:hover, .a-button-v a:active {
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border-color: #d2d6de;
}

.a-button-drv a:link, .a-button-drv a:visited, .a-button-drv a:hover, .a-button-drv a:active {
    color: #333;
    text-decoration: none;
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-color: #d2d6de;
}

.a-button-car a:link, .a-button-car a:visited, .a-button-car a:hover, .a-button-car a:active {
    color: #333;
    text-decoration: none;
    width: 62px;
    height: 35px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-color: #d2d6de;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}
