/* AVTPL */

.logo > img {
  width: 163px; 
  height: 44px;
}

.navbar-right {
  margin-right: 0px;
}

.formlabel {
    padding-top: 7px;
    font-weight: bold;
}

.form-no-validate {
    margin-bottom: 11px;
}

.liquidChoCreateBtnRight {
    float: right;
    margin-top: 12px;
}

.liquidChoCreateBtnMiddle {
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

.liquidCliCreateBtnRight {
    float: right;
}

.liquidCliCreateBtnMiddle {
    float: right;
    margin-right: 10px;
}

.liquidCliViewBtnMiddle {
    float: right;
    margin-top: 20px;
    margin-left: 10px;
}

.viajeBtnRight {
    float: right;
    margin-bottom: 11px;
}

.viajeBtnMiddle {
    float: right;
    margin-bottom: 11px;
    margin-right: 10px;
}

.viajeBtnRight2 {
    float: right;
    margin-bottom: 11px;
    margin-left: 10px;
}

.totalLabel {
    float: right;
    padding-top: 20px;
    margin-right: 10px;
}

.totalInput {
    padding-top: 12px;
    padding-right: 20px;
}

.btnFloatR {
    float: right;
    margin-right: 10px;
}

.spinHidden {
    display: none;
}

.spinFloatR {
    float: right;
    margin-right: 10px;
}

.spinRight {
    margin-left: 10px;
    margin-top: 12px
}

.spinFloatL {
    float: left;
}

.spinTop20 {
    margin-top: 20px
}

.spinAutoAll {
    margin: auto;
    display: block;
}

.spinAuto60 {
    margin: 60px auto;
    display: block;
}

.spinAuto10 {
    margin: 10px auto;
    display: block;
}

.spinViaje {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 99;
}

.spinKeychain {
    position: absolute;
    top: 100px;
    left: 70px;
    z-index: 99;
}

.crudBtn {
    float: right;
    margin-left: 10px;
    margin-bottom: 11px;
}

.btn-gray {
  background-color: #DDD;
  color: #444;
  border-color: #ddd;
  margin-top: 1px;
  margin-bottom: 1px;
}

.btn-gray:hover,
.btn-gray:active,
.btn-gray.hover {
  background-color: #CCC !important;
}

.featurette-divider {
  margin: 25px 0; /* Space out the Bootstrap <hr> more */
  border-top: 1px solid #bbb;
}

.cursormove {
    cursor: move;
}

.alertGreen {
    color: #00a65a;
}

.alertYellow {
    color: #f39c12;
}

.alertRed {
    color: #dd4b39;
}

.disabledX {
    pointer-events: none;
    opacity: 0.4;
}

div.required label.control-label:after {
    content: "*";
    color: red;
    font-size: 10px;
    vertical-align: super;
}

label.required:after {
    content: "*";
    color: red;
    font-size: 10px;
    vertical-align: super;
}

.detail-table tr td {
    padding-top: 3px!important; 
    padding-bottom: 3px!important; 
}

.detail-body {
    padding-top: 7px!important; 
    padding-bottom: 7px!important; 
}

.email-yes:after {
  position: absolute;
  content: "\2713";
  color: #6AFF00;
  font-weight: 700;
  font-size: 1.2em;
  font-family: Verdana, Geneva, sans-serif;
  left: 7px;
  top: 7px;
}

.email-no:after {
  position: absolute;
  content: "\2715";
  color: #FF0000;
  font-weight: 700;
  font-size: 1.2em;
  font-family: Verdana, Geneva, sans-serif;
  left: 7px;
  top: 7px;
}

.direct-chat-success a,
.direct-chat-success a:hover {
  color: #fff;
}

@media only screen and (min-width: 768px) {
    .divtable100 {
        display: table;
        width: 100%;
        max-width: 100%;
    }

    .divtablerow {
        display: table-row;
    }

    .divtablecell {
        display: table-cell
    }

}

@media only screen and (max-width: 768px) {
  .mobile_line_break:before {
      content: ' ';
      display: block;
  }
}
